.footer{
    margin: 50px 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer .logo img {
  position: absolute;
  bottom: 10px;
  right: -30px;
  z-index: -1;
  height: 25px;
}
.footer .logo {
  position: relative;
}
.footer .logo h1{
    font-size: 3rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 16px;
    max-width: 450px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}
.footer .social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer .links {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.footer .links a {
  text-decoration: none;
  color: #D8D8D8;
  font-size: 30px;
  transition: 0.3s;
}

.footer .links a:hover {
  transform: scale(1.2);
}

.footer .bi-github { color: #bf06f3; }
.footer .bi-linkedin { color: #007bff; }
.footer .bi-whatsapp { color: #50f750; }
.footer .bi-facebook { color: #3434f1; }

.footer-bottom{
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.footer-bottom-right{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .footer{
        margin: 50px 6%;
    }
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right{
        gap: 5px;
        justify-content: center;
    }
    
    .footer-bottom{
        display: flex;
        font-size: 14px;
    }
     .footer .logo img{
        width: 100px;
        left: 45px;
        top: 20px;
        height: 40px;
     }
     .footer-top-left p{
        margin-top: 15px;
     }
}