.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hero h1{
    text-align: center;
    width: 65%;  
}

.hero-img {
    width: 300px;
    height: 250px;
}

.hero-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
   position: relative;
  background: #ddd;
}
.hero-image img{
 position: absolute;
 z-index: 3;
 bottom: 0;
  width: 400px;
 left: -70px;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.glow-background {
  position: absolute;
  top: 10%;
  left:-10%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: radial-gradient(circle, #0894df 30%, #ff1586 60%, transparent 80%);
  filter: blur(100px);
  opacity: 0.4;
  z-index: -1;
   animation: pulseGlow 3s ease-in-out infinite;
}

.hero-img-container img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: center top;
}

/* Animate glow */
@keyframes pulseGlow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.hero h1 span{
    background: linear-gradient(270deg, #0894df 10%, #ff1586 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 55px;
    font-weight: 600;
    line-height: 70px;
     text-transform: uppercase;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 20px 30px;
    border-radius: 50px;
    /* background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%); */
    background: linear-gradient(270deg, #0894df 0.36%, #ff1586 102.06%);
    cursor: pointer;
}
.hero-resume{
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}
@media(max-width:768px){
    .profile-img{
        margin-top: 50px;
        width: 200px;
    }
    .hero h1{
        margin-top: 10px;
        width: 90%;
        font-size: 28px;
    }
    .hero h1 span{
        font-size: 35px;
    }
    .hero p{
        width: 80%;
        font-size: 16px;
        line-height: 25px;
        margin: 5px 0px;
    }
    .hero-action{
        gap: 10px;
        font-weight: 500;
        margin-bottom: 50px;
        flex-direction: column;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
        font-size: 18px;
    }
    .hero-resume{
        padding: 20px 45px;
        border-radius: 40px;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

    .hero-img-container{
        top: 30px;
    }
}